*,
*::before,
*::after {
  box-sizing: content-box;
}

body {
  margin: 0;
  background-color: lightgray;
  font-family: sans-serif;
}

.navbar {
padding:10px;
color: black;
background-color: rgb(181, 181, 181);
position:fixed;
width: 100%;
height: 36px;
top: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:  rgb(181, 181, 181);
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #494949;
  color: white;
}
.text-next-to-img {
  display: grid;
  grid-template-columns: 70% auto;
  gap: 1rem;
}
  .text-next-to-img > .text {
    border: 1px solid lightgray;
    padding: 1rem 2rem;
  }
  .text-next-to-img > img {
    width: 90%;
  }

  #active {
    background-color: #494949;
    color: white;
  }
